@page "/detailstudent/{id}"

<h3>Detail Student 0276</h3>
<tr>Student Id : @Student.studentId</tr>
<tr>Last Name : @Student.lastName</tr>
<tr>First Name : @Student.firstName</tr>
<tr>Enrollment Date : @Student.enrollmentDate</tr>
<tr>
    <td>
        <a href="studentpage" class="btn btn-primary m-1">Back</a>
        <a href="#" class="btn btn-secondary m-1">Edit</a>
     
    </td>
</tr>